<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>2016btc</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ArticleListAction</display-name>
    <servlet-name>ArticleListAction</servlet-name>
    <servlet-class>Article.article_controll.ArticleListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleListAction</servlet-name>
    <url-pattern>/ArticleListAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchArticleList</display-name>
    <servlet-name>FetchArticleList</servlet-name>
    <servlet-class>Article.article_model.FetchArticleList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchArticleList</servlet-name>
    <url-pattern>/FetchArticleList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>User.login.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>User.login.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ArticleDetailAction</display-name>
    <servlet-name>ArticleDetailAction</servlet-name>
    <servlet-class>Article.article_controll.ArticleDetailAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleDetailAction</servlet-name>
    <url-pattern>/ArticleDetailAction</url-pattern>
  </servlet-mapping>
</web-app>